:root {
    --color-black-first: #000;
    --color-black-second: #30302E;
    --color-black-third: #0A0A09;
    --color-white: #FFF;
    --color-melon: #E0AFA0;
    --color-linen: #F7ECE1;
    --color-silver: #BCB8B1;
    --color-battleship-gray: #8A817C;
    --color-taupe: #463F3A;
    --color-cinereous: #886f68;
    --color-licorice: #311c1f;
    --color-error: #BA1F33;
    --color-sucess: #62C370;
    --color-warning: #CEB02A;
}

.title-box {
    display: inline-block;
    background-color: var(--color-licorice);
    box-shadow: 10px 10px 0 var(--color-black-first);
    text-align: center;
    padding: 43px 34px;
}

.title-box .title {
    margin-bottom: 28px;
}